################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Schedule.Api/bin/Debug/netcoreapp2.0
/Schedule.Logic/bin/Debug/netcoreapp2.0
/Schedule.Models/bin/Debug/netcoreapp2.0
/Schedule.Web/bin/Debug/netcoreapp2.0
