<h2>Schedules</h2>


<button styleClass="ui-button-info" type="text" (click)="showCreateDialog()" pButton icon="fa-external-link-square" label="Create"></button>
<br><br>
<p-schedule [events]="events" [header]="header" [eventLimit]="4" [editable]="true"></p-schedule>


<p-dialog header="Create Schedule" [contentStyle]="{'overflow':'visible'}" [(visible)]="display" width="600" [responsive]="true" modal="modal">
  <form [formGroup]="editScheduleForm" (ngSubmit)="saveSchedule()" novalidate>
    <div class="ui-g ui-fluid">
      <div class="ui-g-3">
        <label for="user">
          <strong>User</strong>
        </label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [options]="users" [style]="{'width':'150px'}">
          <ng-template let-user pTemplate="item">
            <div class="ui-helper-clearfix" style="position: relative; height: 25px;">
              <div style="font-size:14px;float:right;margin-top:4px">{{user.userName}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
      <div class="ui-g-3">
        <label for="date">
          <strong>Date</strong>
        </label>
      </div>
      <div class="ui-g-9">
        <p-calendar formControlName="date" [style]="{'width':'150px'}"></p-calendar>
      </div>
      <div class="ui-g-3">
        <label for="timeIn">
          <strong>Time In:</strong>
        </label>
      </div>
      <div class="ui-g-9">
        <p-calendar showTime="true" [timeOnly]="true" hourFormat="12" [style]="{'width':'150px'}"></p-calendar>
      </div>
      <div class="ui-g-3">
          <label for="timeOut">
            <strong>Time Out:</strong>
          </label>
        </div>
        <div class="ui-g-9">
          <p-calendar showTime="true" [timeOnly]="true" hourFormat="12" [style]="{'width':'150px'}"></p-calendar>
        </div>
    </div>
    <div class="ui-g-12">
        <button pButton type="submit" [disabled]="editScheduleForm.pristine" class="ui-button-success" label="Save"></button>
        <button pButton type="reset" class="ui-button-danger" label="Cancel"></button>
    </div>
  </form>
</p-dialog>